<p id="notice"><%= notice %></p>

<div id='calendar' style='margin:3em 0;font-size:10px'></div>

<div id="clickRes" class="modal hide fade">

</div>

<div id="roomEvents" class="modal hide fade">

</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>


<script type='text/javascript'>

    var calendar;
    $(document).ready(function () {

        $("#roomEvents").html('<%= escape_javascript(render :template => "rooms/edit", :formats => [:html], :handlers => [:erb]) %>');
        $(".datepicker").datepicker({ dateFormat:'yy-mm-dd' });

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $(".fc-button fc-button-next ui-state-default ui-corner-right").click(function(){
            alert('sad');
        });

        calendar = $('#calendar').fullCalendar({
            header:{
                left:'prev,next today',
                center:'title',
                right:'month,agendaWeek,agendaDay'
            },
            selectable:true,
            theme:true,
            selectHelper:true,
            editable:true,
            events:<%=  @Jevents.html_safe  %>,
            eventRender:function (event, element) {
                element.find('.fc-event-title').append("<br/><br/>$ " + event.price);
            },

            select:function (start, end, allDay, jsEvent, view, resource) {
                var url = '<%= edit_room_path(@room) %>';
                var start_date = start.getFullYear().toString() + '-' + (start.getMonth() + 1).toString() + '-' + start.getDate();
                var end_date   = end.getFullYear().toString() + '-' + (end.getMonth() + 1).toString() + '-' + end.getDate();

                $.get(url, {start_date: start_date, from: 'select', end_date: end_date}, function (data) {
                });
            },
            eventDrop:function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {

                $("#event_" + event.id + " input[id$=_start_date]").val(event.start);
                $("#event_" + event.id + " input[id$=_end_date]").val(event.start);
                $('#submitHiddenRoom').click();

            },
            eventResize:function (event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {

                $("#event_" + event.id + " input[id$=_start_date]").val(event.start);
                $("#event_" + event.id + " input[id$=_end_date]").val(event.end);
                $('#submitHiddenRoom').click();

            },
            eventClick:function (event, jsEvent, view) {

                var url = '<%= edit_room_path(@room) %>';

                $.get(url, {eid: event.id, from: 'click'}, function (data) {
                });
            },
            windowResize:function (view) {
                calendar.fullCalendar('option', 'height', $(window).height() - 40);
            },
            viewDisplay: function(view) {
                var url = '<%= room_path(@room) %>';
                var start_date = view.start.getFullYear().toString() + '-' + (view.start.getMonth() + 1).toString() + '-' + view.start.getDate();

                $.get(url, {start_date: start_date, from: 'click'}, function (data) {
                });
            }
        });

    });

</script>
